<div class="mt-0">

</div>
<div class="grid grid-nogutter  p-4">
    <span>{{dataParam}}</span>
    <div class="col-12">
        <p-table [value]="cases" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template #body let-case>
                <tr>
                    <td>{{ case.title }}</td>
                    <td>{{ case.description }}</td>
                    <td>
                        <div class="w-6 md:w-2 flex justify-content-end">
                            <a [routerLink]="['/case/',case.id]" class="no-underline text-color">
                                Open
                            </a>

                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>